body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a0f05;
    color: #ffe8cc;
    margin: 0;
    padding: 20px;
}

h1{
    margin-bottom: 5px;
    color: #ff8c00;
}

a{
    color: #ffa94d;
    text-decoration: none;
}

.card{
    background-color: #2b1608;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(255,140,0,0.3);
    border: 1px solid #ff8c00;
}



.status-safe{
    color: #70cb38;
}

.status-warning{
    color: #ffa94d;
    font-weight: bold;
}

.status-danger{
    color: #ff4d4d;
    font-weight: bold;
}

.healbar{
    height: 20px;
    background: #2f2c2c;
    border-radius: 50px;
    overflow: hidden;
}

.healfill{
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.logoutbut{
    background-color: #ff8c00;
    color: #1a0f05;
    border-color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 30px;
    right: 20px;

}
.logoutbut:hover{
    background-color: #ecd0ae;
    color: #1a0f05;
    border-color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    opacity: 0.8;
}